"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    fontSize: 14
    softWrapAtPreferredLineLength: true
    confirmCheckoutHeadRevision: false
  autocomplete:
    includeCompletionsFromAllBuffers: true
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "tmp"
      "vendor"
    ]
    themes: [
      "unity-ui"
      "glacier-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  csscomb: {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "release-notes":
    viewedVersion: "0.89.0"
  "tree-view":
    hideVcsIgnoredFiles: true
